
<div class="row d-flex justify-content-center">
    <div class="comment child-comment">
        <div class="comment__data d-flex justify-content-between p-1 w-75 m-auto">
            <!--  The expression of getting Sex is basically - getting the name of defined as int Sex enum. then displaying only first letter of the name, so F or M -->
            <p class="m-0">Smol M</p>
            <p class="m-0">12.08</p>
            <i class="report-icon fas fa-exclamation-triangle"></i>

        </div>
        <div>
            <p class="comment__text">ASD asdzpxcinj awhpoe no</p>
        </div>
    </div>
</div>
