
@{
    ViewData["Title"] = "Index";
}

<br />
<section class="instructions row m-auto text-center">
    <div>
        <h1 class="display-3 m-auto">So, how does it work?</h1>
        <hr />
        <div class="instructions__content">
            <p class="instructions__text">Small Talks is an app where you can anonymously share your thoughts, ask questions or talk about anything else you truly want!</p>
            <p class="instructions__text">
                You get points for commenting posts or other comments, you can use them to create your own posts, but be careful, because there are things you cannot say when
                commenting or creating a post. If other users decide your post is inappropatie, spammy or it in some other way disturbs them, they can report it and it will be
                sent to moderators for review, which can result in banning your account.
            </p>
            <p class="instructions__text">
                Every post costs 50 points, for commenting on a post you get 50 points, for commenting on another comment you get 25 points. You can check your current
                amount of points at the home page or in the Profile tab.
            </p>
        </div>
        <hr />
        <h2 class="m-auto p-3">Now go and have fun! </h2>

    </div>

</section>
