@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<nav class="nav manage-nav"  >
    <a class="manage-nav__link" asp-page="./Index">Profile</a>
    <a class="manage-nav__link" id="change-password" asp-page="./ChangePassword">Password</a>
</nav>
