@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}
<header class="home__header-main full-width row text-white">
    <div class="header__content d-flex justify-content-center align-items-start w-100 mb-4">
        <div>
            <h1 class="display-1 text-white text-center">Small Talks</h1>
            <p style="font-size: 150%">A place to talk about anything and everything!</p>
            <br />
            <div class="d-flex justify-content-center w-100 mb-4">
                <button type="button" class="btn btn-primary btn-lg">How does it work?</button>
            </div>
        </div>
        <img class="header__logo" src="~/images/4.png" />
    </div>
</header>
<br />
<div class="row d-flex justify-content-center">
    <a asp-action="CreatePost" class="btn btn-success btn-lg">Create new post!</a>
</div>
<br />
<div class="row mb-4">
    <ul class="tags d-flex justify-content-between w-100">
        <li class="tag">Happy</li>
        <li class="tag">Funny</li>
        <li class="tag">Sad</li>
        <li class="tag">Casual Talks</li>
        <li class="tag">Questions</li>
        <li class="tag">Random Thoughts</li>
    </ul>
</div>
<section class="posts">
    @foreach (var post in Model)
    {
        <partial name="_PostPartial" model="post" />
    }
</section>
