@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <br />
    <h1 class="display-4 text-center text-danger">@ViewData["Title"]</h1>
    <p class="text-center text-danger">You do not have access to this resource.</p>
</header>
