@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<br />

<h1 class="display-4 text-center">Reset e-mail sent</h1>
<div class="text-center">
    <p>
        Please check your email to reset your password.
    </p>
</div>
