@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<br />
<header>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>