/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #ffffff, #fdfdfd, #fafafa, #f8f8f8, #f6f6f6);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.home__header-main {
    background: linear-gradient(to top, #00b4db, #0083b0);
}


p, .post__title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.header__logo {
    width: 200px;
    margin-left: 25px;
    display: none;
}

.post {
    max-height: 220px;
    width: calc(90%);
    background-color: lightgray;
    margin-bottom: 35px;
    overflow: hidden;
}

.post__title {
    padding: 4px 15px 5px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post__text {
    height: 150px;
    width: calc(90%);
    padding: 3px 15px 10px 15px;
    overflow: hidden;
    position: relative;
}

.create-post__textarea {
    height: 260px;
}

.btn-create {
    width: 150px;
}


@media only screen and (min-width: 768px) {
    .header__logo {
        display: initial;
    }
}